/* Webfont: GurageEthiopiaJiret */@font-face {
    font-family: 'GurageEthiopiaJiret';
    src: url('GurageEthiopiaJiret-Regular.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

